@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #D3D3D3;
  font-family: "Montserrat", sans-serif;
}

#main-employee {
	background: white;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 80%;
	padding-bottom: 3em;
}

.the-title {
	padding: 50px 20px 0 15px;
}

#employee-info {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

ul {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}

li {
	display: inline-block;
	border-style: solid;
	border-color: #D3D3D3;
	list-style-type: none;
	border-width: .5px;
	margin: 1em;
	width: 30.8%;
	height: 8em;
	border-radius: 5px;
}

li:hover {
	cursor: pointer;
}

.contents {
	margin: 1em;
	float: left;
}

.inner-content {
	display: inline-block;
	padding: 1em;
	float: right;
	margin: auto;
}

.image {
	border-radius: 50%;

}

.name {
	margin-bottom: .2em;
}


.email, .city {
	color: #D3D3D3;
	font-size: .9em;
	margin: 1px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}