@charset "UTF-8";
body {
  background: #D3D3D3;
  font-family: "Montserrat", sans-serif;
}

#main-employee {
	background: white;
	margin: 100px;
	padding: 25px;	
}
li {
	display: inline-block;
	float: left;
	/*border-style: solid;
	border-color: black;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;*/
}